extends layout
block content
	.single_wrap
		.single_tweet
			p.singletext= tweet.tweet
			if tweet.avatar
				img.the_singleimage(src=`https://res.cloudinary.com/pikbook/image/upload/${tweet.avatar}`)
			p.tweet_meta
				a(href=`/${tweet.author.username}`)
					strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username} 
				span &middot; 
				span= moment(tweet.created).fromNow()
			.tweet_singleavatar
				a(href=`/${tweet.author.username}`)
					if !tweet.author.avatar
						img(src=`/uploads/no-avatar.jpg`)
					else
						img(src=`https://res.cloudinary.com/pikbook/image/upload/${tweet.author.avatar}`)
