mixin tweetCard(tweet={})
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${tweet.author.username}`)
				img(src=`/uploads/${tweet.author.avatar || 'no-avatar.jpg'}`)
		.tweet_text
			p.author_name
				a(href=`/${tweet.author.username}`)
					strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username}
			br
			p.the_tweet #{tweet.tweet}
			if tweet.avatar
				img.the_image(src=`/uploads/${tweet.avatar}`)
			p.tweet_actions
				//-if user
					form.heart(method='POST' action=`/api/tweets/${tweet._id}/heart`)
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(tweet._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass)
						| ♥
			p.tweet_meta
				span 
					a(href=`/tweet/${tweet._id}` title=`${tweet.created}`) #{moment(tweet.created).fromNow()}
				span.like
					i.fas.fa-heart
					span.tweetstatscount 0
				if user && (tweet.author.equals(user._id) || user.username == 'ale14798')
					br
					span &middot;&nbsp;
					a(href=`/delete/${tweet._id}`) Delete
